body {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
}
.clearfix:after {
content:'';
display:table;
width: 100%;
clear:both;
}

div {
  box-sizing: border-box;
}
header {
  background: url(tort.jpg) no-repeat center top/cover;
  height: 600px;
}
.container {
  width: 930px;
  margin: 0 auto;
}
.logo {
  margin-top: 40px;
  float: left;
  width: 130px;
  height: 70px;
}
nav {
  float: right;
  margin-top: 75px;
}
.menu {
  padding: 0;
  margin: 0;
  display: block;
}
li {
list-style-type: none; /* Убираем маркеры */
}
.menu li {
  float: left;
  margin-right: 40px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14 px;

}
h3{
  font-size: 40px;
  color: #fff;
  text-align: center;
  margin-top: 70px;
  font-family: 'Bad Script', cursive;
}
h1 {
  font-size: 75px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;

}
.button {
  background: #ff6633;
  color: #661a02;
  border-radius: 4px;
  display: block;
  width: 240px;
  padding: 20px 0px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
